{% extends 'base.html' %}
{% block conteudo %}
<div class="container">
    <h2 class="text-center mt-5">Dashboard com Gráfico</h2>
   
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card-grafico">
                    {{ grafico | safe }}
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card-grafico">
                    <h5>Outro conteúdo aqui</h5>
                    <iframe src="{{ iframe_url }}" width="800" height="600" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}
