{% extends 'base.html' %}
{% block conteudo %}
<div>

    <h1>Cadastro de Usuário</h1>
    <form action="/register" method="POST">
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
    {% if errors %}
    <div style="color: red;">
        <ul>
            {% for field, error_messages in errors.items() %}
                {% for error in error_messages %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock conteudo %}