.card-menu {
  padding: 10px;
  overflow-x: auto;
}

.table-compact {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table-compact th,
.table-compact td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

.table-compact th {
  background-color: #5f5f5fd1;
  font-weight: bold;
}



