{% extends 'base.html' %}
{% block conteudo %}
<div class="card-menu">
    <h3 class="text-center">Página do Admin</h3>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mt-4">
      <div class="col">
        <a href="profile_user" class="text-decoration-none text-dark">
          <div class="opcao-admin d-flex flex-column align-items-center">
            <i class="bi bi-person-badge fs-1"></i>
            <p class="mt-2">Perfil</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="users" class="text-decoration-none text-dark">
          <div class="opcao-admin d-flex flex-column align-items-center">
            <i class="bi bi-people fs-1"></i>
            <p class="mt-2">Usuários</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="text-decoration-none text-dark">
          <div class="opcao-admin d-flex flex-column align-items-center">
            <i class="bi bi-gear fs-1"></i>
            <p class="mt-2">Configurações</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="text-decoration-none text-dark">
          <div class="opcao-admin d-flex flex-column align-items-center">
            <i class="bi bi-file-earmark-text fs-1"></i>
            <p class="mt-2">Relatórios</p>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="text-decoration-none text-dark">
          <div class="opcao-admin d-flex flex-column align-items-center">
            <i class="bi bi-lock fs-1"></i>
            <p class="mt-2">Permissões</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endblock conteudo %}